.container{
    width: 100%;
    margin: auto;
    height: 120vh;
    padding-top: 5rem;
    background-image: url(../../assets/training.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 425px){
    .container{
        width: 100%;
        margin: auto;
        height: 80vh;
    }
}